* {
  font-family: Arial, sans-serif, monospace;
}

body {
    margin: 0px;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

a {
   text-decoration: none;
   color: black;
}
